[Unit]
Description=throttlestop

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/python3 -m throttlestop voltage '{"cache": -135, "cpu": -135}'

[Install]
WantedBy=multi-user.target
